* {
    margin: 0;
    padding: 0;
}

/* Color lists */
:root {
    --white: #fff;
    --black: rgb(52, 52, 52);
    --font-color: #001121;
    --bgcolor: #f0e9d9;
    --bgcolor-login: #f0e9d9;
    --blue-nav: #0751a9;
    --green-nav: #69a84f;
    --yellow-nav: #f1c332;
    --red-nav: #cc0001;
}

/* Fonts */
@font-face {
    font-family: "Poppins-light";
    src: url('./components//fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: "Poppins-Bold";
    src: url('./components/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: "Poppins-ExtraBold";
    src: url('./components/fonts/Poppins-ExtraBold.ttf');
}

body {
    height: 100svh;
    background: var(--bgcolor);
}

::-webkit-scrollbar {
    display: none;
}

.main-container {
    margin: 0 auto;
    width: 1350px;
    border: 1px solid red;
}

/* navigation bar */
nav {
    background: var(--white);
    display: flex;
    justify-content: space-around;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.left img {
    height: 70px;
    width: 70px;
}

.left h1 {
    font-family: Poppins-Bold;
    font-size: 2.5em;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right ul {
    display: flex;
    gap: 10px;
}

.right li {
    font-family: Poppins-light;
    font-weight: 600;
    font-size: 20px;
    color: var(--font-color);
    padding: 25px;
}

/* layer1 */
.right .layer1::after,
.right .layer2::after,
.right .layer3::after,
.right .layer4::after {
    content: "";
    width: 0;
    height: 3px;
    background: var(--white);
    margin: auto;
    display: block;
}

.right .layer1:hover::after {
    width: 100%;
    transition: 0.3s linear;
}

.right .layer1:hover {
    transition: 0.3s;
    color: var(--white);
    /* text-shadow: 2px 2px 3px var(--white); */
    background: #0751a9;
    border-bottom-left-radius: 50px;
}

/* layer2 */
.right .layer2:hover::after {
    width: 100%;
    transition: 0.3s linear;
}

.right .layer2:hover {
    transition: 0.3s;
    color: var(--white);
    /* text-shadow: 2px 2px 3px var(--white); */
    background: var(--green-nav);
    border-bottom-left-radius: 50px;
}

/* layer3 */
.right .layer3:hover::after {
    width: 100%;
    transition: 0.3s linear;
}

.right .layer3:hover {
    transition: 0.3s;
    color: var(--white);
    /* text-shadow: 2px 2px 3px var(--white); */
    background: var(--yellow-nav);
    border-bottom-left-radius: 50px;
}

/* layer4 */
.right .layer4:hover::after {
    width: 100%;
    transition: 0.3s linear;
}

.right .layer4:hover {
    transition: 0.3s;
    color: var(--white);
    /* text-shadow: 2px 2px 3px var(--white); */
    background: var(--red-nav);
    border-bottom-left-radius: 50px;
}

/* Login Page */
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.input1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.5;
    height: 500px;
    width: 500px;
    object-fit: contain;
}

.input1,
.input2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input1 .icon1,
.input2 .icon2 {
    font-size: 50px;
    color: var(--font-color);
}

.input1 h1,
.input2 h1 {
    font-family: Poppins-Bold;
    font-size: 1.5rem;
    color: var(--font-color);
}

.input1 input,
.input2 input {
    width: 550px;
    height: 50px;
    border-radius: 40px;
    font-size: 20px;
    text-align: center;
    border: none;
    opacity: 0.8;
    color: var(--font-color);
    caret-color: var(--blue-nav);
}

.input2 .password-container {
    display: flex;
    align-items: center;
}

.input2 .icon3 {
    position: absolute;
    left: 92%;
    font-size: 25px;
    color: var(--font-color);
}

.login-container button {
    width: 269px;
    font-family: 'Poppins-Bold';
    font-size: 15px;
    font-weight: 900;
    color: white;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    padding: 14px 10px;
    gap: 10px;
    border: none !important;
    border-radius: 50px;
    background: linear-gradient(to right, var(--blue-nav), var(--green-nav), var(--yellow-nav), var(--red-nav));
    background-size: 300% 100%;
    transition: background-position 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
        color 0.4s ease-in-out;
}

.login-container button:hover {
    background-position: 100% 0;
    color: white;
}


/* Footer login */
.footer-login footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--font-color);
}

.footer-login footer .loc,
.footer-login footer .cont,
.footer-login footer .soc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.footer-login footer h1 {
    font-weight: 600;
    font-family: Poppins-light;
}

.icons {
    font-size: 25px;
}

/* responsive navbar */
.nav-phone {
    display: none;
}

.sidebar {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
    background: var(--white);
    transition: width 0.4s;
}

.sidebar.open {
    width: 190px;
}

.sidebar .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
}

.sidebar header {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 10px;
    background: var(--white);
}

/* button menu and close */
.sidebar-burger {
    display: grid;
    place-items: center;
    font-size: 30px;
    background: none;
    border: none;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar header>img {
    height: 28px;
}

.sidebar nav {
    display: grid;
    padding: 6px;
    gap: 2px;
}

.sidebar nav>button {
    display: flex;
    gap: 12px;
    align-items: center;
    height: 44px;
    width: 44px;
    font-family: "Poppins";
    font-size: 20px;
    line-height: 1;
    padding: 0 12px;
    border-radius: 8px;
    background: none;
    color: var(--color-white);
    border: none;
}
.sidebar nav>.layer1:hover, .sidebar nav>.layer2:hover, .sidebar nav>.layer3:hover, .sidebar nav>.layer4:hover {
    color: var(--white);
    transition: all ease .3s;
}

.sidebar nav>.layer1:hover {
    background: var(--blue-nav);
}
.sidebar nav>.layer2:hover {
    background: var(--green-nav);
}

.sidebar nav>.layer3:hover {
    background: var(--yellow-nav);
}

.sidebar nav>.layer4:hover {
    background: var(--red-nav);
}

.sidebar nav>button span::after {
    content: "";
    width: 0;
    height: 3px;
    background: var(--white);
    margin: auto;
    display: block;
}

.sidebar nav>button span:hover::after {
    width: 100%;
    transition: 0.3s linear;
}



.sidebar header>img,
.sidebar nav>button p {
    opacity: 0;
    transition: 0.3s;
}

.sidebar.open nav>button {
    width: 100%;
}

.notxt span {
    display: none;
}



































/* For Mobile */
@media only screen and (max-width: 767px) {
    .main-container {
        width: calc(100%);
    }

    /* navigation bar */
    nav {
        padding: 10px;
        justify-content: space-between;
    }

    /* responsive navbar */
    .nav-phone {
        display: block;
    }

    .left img {
        height: 50px;
        width: 50px;
    }

    .left h1 {
        font-family: Poppins-Bold;
        font-size: 1em;
        width: 20px;
        line-height: 15px;
    }

    .right ul {
        display: none;
    }

    /* Login Page */
    .login-container {
        top: 40%;
    }

    .input1 img {
        height: 350px;
        width: 350px;
    }

    .input1 .icon1,
    .input2 .icon2 {
        font-size: 30px;
    }

    .input1 h1,
    .input2 h1 {
        font-size: 1.3rem;
    }

    .input1 input,
    .input2 input {
        width: 330px;
        height: 40px;
        font-size: 18px;
    }

    .input2 .icon3 {
        left: 90%;
        font-size: 20px;
    }

    .login-container button {
        width: 200px;
        font-size: 15px;
        font-weight: 600;
        padding: 10px 10px;
    }

    /* Footer login */
    .footer-login footer {
        flex-direction: column;
        gap: 20px;
    }

    .footer-login footer h1 {
        font-size: 14px;
    }

    .icons {
        font-size: 20px;
    }
}

/* For Tablets */
@media only screen and (max-width: 768px) and (max-width: 991px) {
    .main-container {
        width: 100%;
    }
}

/* For laptops */
@media only screen and (max-width: 992px) and (max-width: 1199px) {
    .main-container {
        width: 100%;
    }
    nav {
        padding: 10px;
        justify-content: space-between;
    }

    /* responsive navbar */
    .nav-phone {
        display: block;
    }

    .left img {
        height: 50px;
        width: 50px;
    }

    .left h1 {
        font-family: Poppins-Bold;
        font-size: 1em;
        width: 20px;
        line-height: 15px;
    }

    .right ul {
        display: none;
    }
}

/* For Desktops */
@media only screen and (min-width: 1200px) {
    .main-container {
        width: 100%;
    }
}